/* This file provides a few convenience css classes*/

/* Floating images*/

.float-right {
 float: right;
 margin-left: 50px;
}

.float-left {
 float: left;
 margin-right: 50px;
}

/* Justified images*/

.align-left {
  position:sticky;
  right: 100%;
}

.align-right {
  position:sticky;
  left: 100%;
}



/*footer*/
.footer-custom{
    color: gray;
    font-size: 1rem;
    padding: 0rem 0.5rem;
}


.footer-tags {
    order: 1;
}

.footer-tags a:before {
    content: "#";
}

.footer-creator{	
    order: 2;	
}

.footer-date{
    order: 3;
}

.footer-editor{	
    order: 4;	
}

.footer-editdate{
    order: 5;
}

.footer-repo{	
    order: 6;	
}




/*Disclaimer*/
.disclaimer-box {
  min-height: 20px;
  padding: 0px 10px 10px 20px;
  margin-top: 50px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.disclaimer-title {
  color: gray;
  font-size: 1.75rem;
}

.disclaimer-text {
  color: gray;
  font-size: 1rem;
}
