<!-- 
  This page overrides the default footer page located in themes/docdock/layouts/partials/flex/
  We are not using the custom-footer.html as recommended because we want to be able to access page parameters
-->


  <div class="chevrons">
    {{ partial "next-prev-page.html" . }}
  </div>

  </section>
</article>

<footer>

<div class="footline">
    
    {{if .Params.tags }}
    <div class="footer-custom footer-tags"> 
      {{ range $index, $tag := .Params.tags }}
        <a class="label label-default" href="{{$.Site.BaseURL}}tags/{{ $tag | urlize }}">{{ $tag }}</a>
      {{ end }}
    </div>
    {{end}}
    
    <!-- 
    
    {{with .Params.creatordisplayname}}
    <div class="footer-custom footer-creator">
        <i class='fa  fa-user-circle'></i> <a href="mailto:{{ $.Params.LastModifierEmail }}">{{"Created by : "}}{{ . }}</a>
    </div>
    {{end}}

    {{ if not .Page.Date.IsZero }}
    <div class="footer-custom footer-date">
        <i class='fa fa-calendar'></i> {{"Created on"}} {{ .Page.Date.Format "02/01/2006" }}
    </div>
    {{end}}

    {{with .Params.LastModifierDisplayName}}
    <div class="footer-custom footer-editor">
        <i class='fa  fa-user-circle-o'></i> <a href="mailto:{{ $.Params.LastModifierEmail }}">{{"Last Edited by : "}}{{ . }}</a>
    </div>
    {{end}}
    
    -->

   {{ if not .Page.Lastmod.IsZero }}
    <div class="footer-custom footer-editdate">
        <i class='fa fa-edit'></i> {{T "last-update-on"}} {{ .Page.Lastmod.Format "02/01/2006" }}
    </div>
    {{end}}


    {{with .Params.repo}}
    <div class="footer-custom footer-repo">
        <i class='fa fa-gitlab'></i> <a href="{{ $.Params.fileUrl }}">{{"Located in "}}{{ . }}</a>
    </div>
    {{end}}

 

    
  </div>

	<div>
{{ $footer := print "_footer." .Lang }}
{{ range where .Site.Pages "File.BaseFileName" $footer }}
  {{ .Content }} 
{{else}}
  {{ if .Site.GetPage "page" "_footer.md" }}
    {{(.Site.GetPage "page" "_footer.md").Content}}
  {{else}}
    {{ T "create-footer-md" }}
  {{end}}
{{end}}


	</div>



</footer>

{{ partial "flex/scripts.html" . }}